@model IEnumerable<GigHub.WebApplication.ViewModels.FollowingArtistsViewModel>

@{
    ViewBag.Title = "Artists I'm Following";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Artists I'm Following</h1>

<div class="card voffset3" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        @foreach (var gig in Model)
        {
            <li class="list-group-item">
                @gig.ArtistName
            </li>
        }
    </ul>
</div>